@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>

@section scripts {
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/dist/plot/jquery.flot.js" asp-append-version="true"></script>
<script language="javascript" type="text/javascript" src="~/dist/plot/jquery.flot.categories.js"></script>
<script language="javascript" type="text/javascript" src="~/dist/plot/jquery.flot.time.js"></script>
<script language="javascript" type="text/javascript" src="~/dist/plot/jquery.flot.selection.js"></script>
<script language="javascript" type="text/javascript" src="~/dist/plot/jquery.flot.axislabels.js"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>

}
