<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form">
    
   
    <input type="email" placeholder="email" formControlName="email" class="form-control input-lg">
            <div [hidden]="emailValid || loginPristine" class="error-message">Email is invalid</div>

    <input type="text" placeholder="name" formControlName="name" class="form-control input-lg">

    <div formArrayName="passwords" class="form-group">
        <input type="password" placeholder="password" formControlName="0" class="form-control input-lg">

        <div [hidden]="passwordMatched" class="error-message">Password must contain minimum 6 characters: at least 1 alphabet and 1 number</div>
        <input type="password" placeholder="repeat password" formControlName="1" class="form-control input-lg">


        <div [hidden]="passwordsMatched || repeatPristine" class="error-message">Passwords do not match</div>

    </div>

    <button type="button" (click)="register()" class="button-green" [disabled]="!registerForm.valid">Register</button>
</form>