<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    <connectionStrings>
      <add name="PostgresConnection" providerName="Npgsql" connectionString="Server=allegro.mgduke.com;User Id=allegro_ro;Password=allegro_ro;Port=5432;Database=allegro;" />
      <add name="RedisConnection" connectionString="Server=allegro.mgduke.com:6379;Database=0;" />
    </connectionStrings
  -->

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
